@using IPGsMock.SEP.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model InitiatePaymentRequest

@{
    
}

<html>
<body>
    <h1>سلام! این یک ویو Razor است.</h1>
    <p>مدل: @Model</p>
    <p>مدل: @Model.Amount</p>
</body>
</html>