@using IPGsMock.SEP.Models

@model InitiatePaymentRequest

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>پرداخت ناموفق</title>
</head>

<body>

</body>

</html>